header {
    background-color: #1DE9B6;
    color:black;
    text-align: center;
    font-size:250%;
    margin-bottom: 5%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #505050;
    color:#1DE9B6;
     margin:10%;
}
span {
  font-size:200%;
}

p {
  font-size:150%;
}


#start{
  font-size:300%;
  padding:2%;
}
button{
    color:white;
    background-color: black;
  font-size: 150%;
  margin:1%;
   
}

img {
    width: 100%;
    border-radius:20%;
}
placard {
    content: url(https://docs.google.com/drawings/d/1DgnXjJ6Sp0lmlF0U__xjL6QV2bRKFRVD01eCkz1hSts/pub?w=186&amp;h=80);
  
}
maxwell {

  content:url(https://docs.google.com/drawings/d/1Gx-OgBsE0ys5KK7srkGNeiFtfWb8AOMrecyG8mgE5Qs/pub?w=183&amp;h=148);

}

footer {
    background-color: #1DE9B6;
 position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-align: center;

}
