header {
    text-align: center;
    background-color: #bebebe;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FAFAFA;
}

.redacted{
    color:black;
    background-color:black;
    font-weight:bold;
    text-transform:uppercase;
}
.quote{
    font-style: oblique;
    font-weight: lighter;
}

::-moz-selection { /* Code for Firefox */
    color: #1DE9B6;
    background: #212121;
}

a:link{
    color:black;
}
a:hover{
    text-decoration: none;
    background-color:black;
    color:#1DE9B6;
}

footer {
 clear:both;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  margin-top:20px;

}

@media only screen and (min-width: 1000px) {
.col-md-4 {
   padding:0 3% 0;
}
img {
    padding:3%;
}

}
