header {
    text-align: center;
    background-color: #99e4d1;
    margin-top: 2%;
    margin-bottom: 2%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #efefef;
}

section
{   
   padding: 3%;
   border: 3px double #99e4d1;
   margin-bottom: 6%;
   display:inline-block
}

.redacted{
    color:black;
    background-color:black;
    font-weight:bold;
    text-transform:uppercase;
}
.redacted:hover{
    text-decoration: none;
    background-color:#222222;
    color:#99e4d1;
}
.quote{
    font-style: oblique;
    font-weight: lighter;
}

::-moz-selection { /* Code for Firefox */
    color: #99e4d1;
    background: #222222;
}

a:link{
    color:black;
}
a:hover{
    text-decoration: none;
    background-color:#222222;
    color:#99e4d1;
}

footer {
 clear:both;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  margin-top:20px;

}

@media only screen and (min-width: 1000px) {
.col-md-4 {
   padding:0 3% 0;
}
img {
    padding:3%;
}

}
