
header {
    background-color: #1DE9B6;
    text-align: center;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.redacted{
    color:black;
    background-color:black;
    font-weight:bold;
    text-transform:uppercase;
}

a:link{
    color:black;
}
a:hover{
    text-decoration: none;
    background-color:black;
    color:#1DE9B6;
}

.content {
    padding-left: 10%;
}
img {
    width: 100%;
    border-radius:20%;
}

.col-md-12{
text-align: center;
margin-bottom:3%;
    
}


footer {
    background-color: #1DE9B6;
 clear:both;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  margin-top:20px;

}

@media only screen and (min-width: 1000px) {
.col-md-4 {
   padding:0 3% 0;
}
img {
    padding:3%;
}

}

$size-circle: 12.5em;
$size-thickness: 2.5em;
$size-inner: $size-circle - $size-thickness * 2;

.pieChart {
  width: $size-circle + 13em;
  margin: 0 auto;
  padding-top: 1em;
}

.pie {
  height: $size-circle;
  width: $size-circle;
  position: relative;
  float:left;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: $size-inner;
    height: $size-inner;
    background: $color-background;
    border-radius: 50%;
    top: $size-thickness;
    left: $size-thickness;
  }
}

.slice {
  position: absolute;
  width: $size-circle;
  height: $size-circle;
  clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  animation: bake-pie 1s;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  }
}

.legend {
  width: 13em;
  padding-left: 1em;
  float:left;
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
  }
  li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
    font-weight: bold;
  }
}
